<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IncluirCliente</servlet-name>
        <servlet-class>IncluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCliente</servlet-name>
        <servlet-class>BuscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarClientePorNome</servlet-name>
        <servlet-class>BuscarClientePorNome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IncluirCliente</servlet-name>
        <url-pattern>/IncluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCliente</servlet-name>
        <url-pattern>/BuscarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarClientePorNome</servlet-name>
        <url-pattern>/BuscarClientePorNome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
