<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EspacoAluno</servlet-name>
        <servlet-class>EspacoAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EspacoProfessor</servlet-name>
        <servlet-class>EspacoProfessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EspacoAluno</servlet-name>
        <url-pattern>/EspacoAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EspacoProfessor</servlet-name>
        <url-pattern>/EspacoProfessor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>AcessoAluno</display-name>
        <web-resource-collection>
            <web-resource-name>EspacoAluno</web-resource-name>
            <description/>
            <url-pattern>/EspacoAluno</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Aluno</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>AcessoProfessor</display-name>
        <web-resource-collection>
            <web-resource-name>EspacoProfessor</web-resource-name>
            <description/>
            <url-pattern>/EspacoProfessor</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Professor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description/>
        <role-name>Aluno</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Professor</role-name>
    </security-role>
</web-app>
